<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/daneshjoo/<%= id %>/akhz" method="POST">
                <div class="form-group">
                    <label for="text">name</label>
                    <input type="text" id="email" name="name" class="form-control" placeholder="Enter Name" />
                    <label for="text">Preoffesor's name</label>
                    <input type="text" id="email" name="ostad" class="form-control" placeholder="Enter Preoffesor's name" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </form>
        </div>
    </div>
</div>
    