.title {
  margin-top: 40px;
  margin-left: 600px;
  font-size: 40px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
img {
  width: 320px;
  margin-left: 850px;
  margin-top: -120px;
}
#name {
  padding: 10px;
  width: 100%;
  background-color: rgb(77, 74, 74);
  color: rgb(219, 215, 215);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.form-style {
  margin-left: 500px;
  margin-top: 36px;
  width: 360px;
}
.add-btn {
  width: 10%;
  padding: 8px;
  float: right;
  transition: 0.3s;
  margin-right: -75.6px;
  margin-top: -41.9px;
  /* margin-left: 50% !important; */
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(123, 207, 123, 0.932);
  color: #fff;
  font-size: 22px;
  border-radius: 1.9px;
}
.items {
  border: 1px solid gray;
  padding: 9px;
  text-align: left;
}
.list {
  color: rgb(58, 58, 58);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  /* font-family: Sans-serif; */
  text-transform: capitalize;
}
table {
  width: 634px;
  border-collapse: collapse;
  table-layout: fixed;
}
#txt {
  color: #000;
  text-decoration: none;
}
.remove {
  color: rgb(192, 43, 43);
  background-color: #fff;
  border: none;
}
.add {
  color: rgb(78, 192, 43);
  background-color: #fff;
  font-size: 17px;
  border: none;
}
.isCompleted {
  background-color: rgb(221, 217, 217);
  color: rgba(0, 0, 0, 0.25);
}
.isCompleted #txt {
  color: rgb(122, 118, 118);
  cursor: default;
  pointer-events: none;
  text-decoration: none;
}
.isCompleted .remove {
  background-color: rgb(221, 217, 217);
}
